* {
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 700px;
  border-radius: 7px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__h1 {
  text-align: center;
}
.header__divider {
  width: 740px;
  height: 20px;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

.button {
  margin: 20px;
  background-color: white;
  border: solid 1px black;
  padding: 7px;
  border-radius: 7px;
}

.translators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.translators__inputEnglish {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px;
  width: 250px;
  margin: 10px;
  height: 400px;
}
.translators__inputMorse {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px;
  width: 250px;
  margin: 10px;
  height: 400px;
}
